.card {
    padding: 5px;
}
.card-content {
    display: flex;
    flex-direction: row;
    color: black ;
}

.card-content-left {
    width: 60%;
    padding: 10px;
}
.card-content-right {
    width: 40%;
    display: flex;
    flex-direction: column;
}