.card{
    padding: 100px;
    width: 50%;
    align-items: center;
    justify-content: center;
    justify-items: center;
    position: absolute;
    top: 30%;
    left: 25%;
    right: 25%;
}

.title {
    font-size: 30pt;
    color: #2e2e2e;
    font-weight: bold;
}
.form {
    display: flex;
    flex-direction: column;
}

.field {
    margin-top: 10px;
}
